LLM_MODEL=your_preferred_model
LLM_PROVIDER=the_provider_for_the_model
# Additional variables provider specific
NVIDIA_API_KEY=nvidia_api_key_placeholder
OLLAMA_HOST=ollama_custom_host
OLLAMA_API_KEY=ollama_api_key_for_cloud