LLM_MODEL=your_preferred_model
LLM_EMBEDDING_MODEL=your_preferred_embedding_model
LLM_PROVIDER=the_provider_for_the_model
# Additional variables provider specific
OPENAI_API_KEY=your_openai_api_key
OPENAI_BASE_URL=the_base_url_for_openai_api_or_compatible_api